/* General styling */
html, body{
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
}

html, body, .row, .col, .col-6, .col-4, .col-3{
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 auto;
    padding: 0 0;
}

.containerpadding{
    padding: 3% 0;
}

h1, h2, h3, h4, h5{
    font-family: 'Roboto', sans-serif;
    color: #DB5F4C;
    margin: 0 0 5px 0;
}

a{
    text-decoration: none;
    color: black;
}


a:hover{
    text-decoration: none;
}

/*Navbar General Styling*/
.activenav{
    color: #DB5F4C !important;
}

#navbarfrontpage, #navbarmain{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;      
    padding: 0;
}

@media only screen and (min-width: 992px) {
    #navbarfrontpage li a, #navbarmain li a{
        padding: 0;
        margin-left: 3rem;
    }
}

/*Navbar Frontpage*/
.navbarfrontpage__background--scrolled{
    background-color: #fff;
    transition: background-color 1500ms ease-in;
}

#navbarfrontpage{
    transition: background-color 700ms ease-in;
}

.navbarfrontpage__link{
    color: white;
    transition: color 500ms ease-out; 
}

#navbarfrontpage li a:hover{
    color: #DB5F4C;
    transition: color 100ms ease-out;
}

.navbarfrontpage__link--scrolled{
    color: #000;
    transition: color 50ms ease-in; 
}

.navbarfrontpage__container{
    padding: 2% 0;
    transition: padding 200ms ease-out;
}

.navbarfrontpage__container--scrolled{
    padding: 1% 0 !important;
    transition: padding 800ms ease-in;
}

#navbarfrontpage__brand{
    display: none;
    margin-bottom: 0.5em;
}

.navbarfrontpage__brand--scrolled{
    display: block !important;
}

.navbarfrontpage__icon{
    padding-top: 3px;
    font-size: 1.5rem;
    color: #fff;
    transition: color 100ms ease-out; 
}

.navbarfrontpage__icon--scrolled{
    color: #000;
    transition: color 400ms ease-out; 
}

.navbar-toggler:focus,
.navbar-toggler:active{
    outline: none !important;
    box-shadow: none;
}

.frontpage__shoppingcart1,
.frontpage__shoppingcart1--scrolled{
    display: inline-block;
}

.frontpage__shoppingcart1:hover,
.frontpage__shoppingcart1:active{
    color: #DB5F4C;
}

.frontpage__shoppingcart2,
.frontpage__shoppingcart2--scrolled{
    display: none;
}

@media only screen and (min-width: 992px) {
    .frontpage__shoppingcart1{
        display: none;
    }
    
    .frontpage__shoppingcart2{
        display: inline-block;
    }
}


/*Navbar Main*/
.shoppingcarticon{
    font-size: 1.5em;
    padding: auto 0;
    color: black;
}

#navbarmain{
    background-color: white;
}

#navbarmain .container{
    padding: 2% 0;
}

#navbarmain li a{
    color: black;
}

#navbarmain li a:hover{
    color: #DB5F4C;
}

.navbarmain__icon{
    padding-top: 3px;
    color: black;
}

.navbarmain__icon:hover{
    color: #DB5F4C;
}

.navbarmain__shoppingcart1{
    display: inline-block;
}

.navbarmain__shoppingcart1:hover{
    color: #DB5F4C;
}

.navbarmain__shoppingcart2{
    display: none;
}

@media only screen and (min-width: 992px) {
    #navbarmain__brand{
        padding: 0;
    }

    .navbarmain__shoppingcart1{
        display: none;
    }

    .navbarmain__shoppingcart2{
        display: inline-block;
    }
}

/*Buttons*/
.CTA_button{
    display: inline-block;
    background-color: #FFB600;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
}

.CTA_button:active,
.btn-full:active,
.btn-outline:active,
.btn-text:active{
    transform: translateY(2px);
}

.btn-full:link,
.btn-full:visited {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 50px;
    margin-top: 5px;
    letter-spacing: 1px;
    border-radius: 4px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    transition: background-color 100ms ease-in, box-shadow 100ms ease-in;
}

.btn-full:hover,
.btn-full:active {
    background-color: #ffc022;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    color: white;
}

.btn-text:link,
.btn-text:visited {
    background-color: transparent;
    color: #7faf70;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0;
    transition: color 100ms ease-in;
}

.btn-text:hover,
.btn-text:active {
    color: #ffb600;
}

.btn-outline:link, .btn-outline:visited {
    color: #7faf70;
    background-color: transparent;
    border: 1.7px solid #7faf70;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 10px 50px;
    margin-top: 5px;
    transition: background-color 100ms ease-out;
}

.btn-outline:hover, .btn-outline:active {
    color: #fff;
    background-color: #7faf70;
    border: 1.7px solid #7faf70;
    border-radius: 4px;
}

.btn-cart{
    background-color: #ffb600;
    border: 0;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    padding: 5px 40px;
}

.btn-cart:hover{
    background-color: #ffc022;
}

.btn-cart:focus, .btn-cart:active{
    transform: translateY(2px);
    outline: none !important;
}

/* Cards */
.card-img-top{
    height: 35vh;
    object-fit: cover;
}

.featured__card{
    width: 100%;
}

.card {
    box-shadow: 0 1px .5px rgba(0,0,0,0.2);
}

.card-body {
    padding: 1.5rem;
}

.card-body h3 {
    margin-bottom: 10px;
}

/*Banners*/
.banner__green{
    background: #89B57B;
    padding: 1% 0;
    margin-top: 1%;
}

@media (min-width: 992px) {
    .banner__green {
        margin-top: 0;
    }
}

.banner__green__content {
    display: flex;
    justify-content: space-around;
  }

.banner__green__text{
    font-family:"roboto";
    font-size: 18px;
    font-weight: 400; 
    color: white;
}

/*Front Page Styling*/
#frontpage__brandname{
    color: white;
    font-size: 3rem;
}

#frontpage__tagline{
    color: white;
    font-size: 2rem;
    margin-bottom: 2%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

#frontpage__container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#frontpage__header{ 
    background: url("../images/frontpageheader.jpg") no-repeat;
    background-size: cover;
    height: 100%;
}

.frontpage-background{
    background-color: #F6F8F5; /*lichtgroen*/
}

#frontpage__aboutleft, #frontpage__aboutright{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#frontpage__aboutright{
    width: 100%;
    height: auto;
    margin: auto;
}

#frontpage__aboutright img{
    width: 100%;
}

.frontpage__reviewstar{
    color: gold;
    display: inline;
}

.frontpage__reviewquote{
    position: absolute;
    z-index: -1;
    color: rgba(0,0,0,0.04)
}

@media only screen and (min-width: 769px) {
    .frontpage__reviewquote{
        position: absolute;
        left: 20%;
        z-index: -1;
        color: rgba(0,0,0,0.04)
    }
}

.frontpage__productimage{
    width: 100%;
    height: 45vh;
    object-fit: cover;
}

.frontpage__producttext{
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color:#89B57B;
    color: white;
    padding: 6px 0;
}

.frontpagefeatured__description{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/*Product Page Styling*/
.singleproduct__price{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
}

.product__image1, .product__image2, .product__image3, .product__image4{
    object-fit: cover;
    width: 100%;
}

.product__image1{
    height: 70vh;
}

.product__image2, .product__image3, .product__image4{
    height: 23.33vh;
    padding-bottom: 2%;
    opacity: 0.75;
    transition: opacity 200ms ease-out;
}

.product__image--selector{
    opacity: 1;
    transition: opacity 200ms ease-in;
}

.product__image--deselector{
    opacity: 0.5;
    transition: opacity 200ms ease-in;
}

.input-number{
  width: 80px;
  padding: 0 12px;
  vertical-align: top;
  text-align: center;
  outline: none;
}

.input-number, .input-number-decrement, .input-number-increment{
  border: 1px solid #ccc;
  height: 40px;
  user-select: none;
}

.input-number-decrement, .input-number-increment{
  display: inline-block;
  width: 30px;
  line-height: 38px;
  background: #f1f1f1;
  color: #444;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.input-number-decrement:active, .input-number-increment:active{
    background: #ddd;
}

.input-number-decrement{
    border-radius: 4px 0 0 4px;
}

.input-number-increment{
    border-radius: 0 4px 4px 0;
}

/*Blog Page Styling*/
.blog__categories{
    padding-left: 0;
    border-bottom: 1px solid #85998E;
    padding-bottom: 2%;
    margin-bottom: 0;
}

.blog__categories a{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
}

.blog__categories a:hover{
    color: #DB5F4C;
}

.blog__categories li{
    display: inline-block;
    padding-right: 5%;    
}

.search{
    border: solid #85998E 1.5px;
    border-radius: 5px 5px 5px 5px;
}

.search-field{
    border: none;
}

.blogpage__searchbutton{
    background: #85998E;
    border-radius: 2.5px 2.5px 2.5px 2.5px;
    border: solid #85998E;
}

.blogpage__searchbutton:hover{
    background: #6E7F76;
    border-radius: 2.5px 2.5px 2.5px 2.5px;
    border: solid #6E7F76;
}

.blogpage__searchbutton:active{
    background: #5F6C65;
    border-radius: 2.5px 2.5px 2.5px 2.5px;
    border: solid #5F6C65;
}

.blogpage__searchicon{
    color: #EFEFEF;
}

.blog__post{
    padding: 3% 2%;
    height: auto;
    border-bottom: 1px solid #85998e;   
}

.blog__contentcontainer{
    padding-right: 2%;
}

.blog__post:last-child{
    border-bottom: none;
    padding-bottom: 0;
}

.blog__picturecontainer{
    width: 100%;
    height: 40vh;
    padding-left: 2%;
}

.blog__picture{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blogpost__category, .post-categories, .post-categories li{
    display: inline;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1.0em;
}

.postpadding {
    padding: 3% 1rem;
}

@media (min-width: 768px) and (max-width: 991px){
    .postpadding {
        padding: 3% 6rem;
    }
}

@media (min-width: 992px){
    .postpadding {
        padding: 3% 12rem;
    }
}

.post-categories li a{
    color: #DB5F4C;
}    

.blog__publication{
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    font-style: italic;
}

/*About Page Styling*/

/*Shop Page Styling*/
.shopnavigation__category{
    margin-bottom: 1em;
}

.shopnavigation__header{
    font-size: 1.3em;
}

.shopnavigation__items{
    list-style-type: none;
    padding:0;
}

.shopnavigation__items a:hover{
    list-style-type: none;
    padding:0;
    color: #ffc022 ;
}

.shopcontent__image{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.shopcontent__container{
    margin-bottom: 2em;
}

.shopcontent__information{
    margin-bottom: 2em;
    margin-top: 1em;
    width: auto;
}

.shopcontent__name, .shopcontent__tag, .shopcontent__price{
    color: black;
    width: 100%;
    text-align: center;
}

.shopcontent__name{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.shopcontent__tag{
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    margin: 0;
}

.shopcontent__price{
    font-family: 'Lato', sans-serif;
    margin: 0;
}

/*Contact Page Styling*/
.contact__foto{
    width: 100%;
    height: 65vh;
    object-fit: cover;
    padding: 5% 10% 0 0;
}

.contact__contactform{
    padding: 5% 5%;
    border: 1px solid #85998E;
    border-radius: 7px;
}

.wpcf7-form p label{
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 1em;   
    width: 100%;
}

.wpcf7-form p{
    margin: 0;
}

.wpcf7-form-control{
    width: 100%;
}

.wpcf7-textarea, .wpcf7-text{
    border: 1px solid #85998E;
    border-radius: 7px;
}

.your-message, .wpcf7-textarea{
    width: 100%;
}

.wpcf7-submit, .wpcf7-submit:visited {
    color: #486c3c;
    background-color: transparent;
    border: 1.7px solid #486c3c;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 10px 50px;
    margin-top: 5px;
    transition: background-color 100ms ease-out;
}

.wpcf7-submit:hover, .wpcf7-submit:active {
    color: #fff;
    background-color: #6ca25b;
    border: 1.7px solid #6ca25b;
    border-radius: 4px;
}

.contact__contactform p:empty{ 
    display: none; 
}

/*Footer Styling*/
.footer__top__navheader, .footer__top__navlink, .footer__top__navtext, .footer__bottom__link, .footer__bottom__navheader, .footer__bottom__separator{
    color: white;
    text-decoration: none;
    margin: 0 0 .5rem 0;
}

.footer__list{
    list-style-type: none;
    padding: 0;
    display: none;
}

.footer__top__navheader, .footer__bottom__navheader{
    font-size: 1.4rem;
    white-space: nowrap;
}

.footer__top__navlink, .footer__bottom__link, .footer__top__navtext{
    font-size: 0.9rem;
}

/*Naar kijken! een a heeft een andere default hoogte dan een p, zie footer */
.footer__top__navtext{
    height: 24px;
}

.footer__top__background{
    background:#85998E;
}

.footer__bottom__background{
    background: #89B57B;
}

.footer__top__background .container, .footer__bottom__background .container{
    padding: 2% 0;
}

.footer__bottom{
    text-align: center;
}

.footer__top__navlink:hover, .footer__bottom__link:hover, .instagram:hover, .facebook:hover{
    color: #C4C4C4;
    text-decoration: none;
}

.instagram, .facebook{
    display: inline;
    margin: 10px 5px;
    color: white;
    font-size: 2.5rem; 
}

.collapsiblefooter {
    background-color: #85998E;
    color: #ffff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
}

.activefooter,
.collapsiblefooter:hover,
.collapsiblefooter:active{
    background-color: #75877D;
    outline: none !important;
    box-shadow: none;
}

.collapsiblefooter:after {
    content: '\002B'; /* character for "plus" sign (+) */
    font-size: 18px;
    float: right;
    margin-left: 5px;
    font-weight: 400; 
}
  
.activefooter:after {
    content: "\002D"; /* character for "minus" sign (-) */
    font-size: 18px;
    float: right;
    margin-left: 5px;
    font-weight: 400; 
}

.footer__content{
    display: none;
}

/* Checkout Page*/
.shopcontent__name:hover{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color:#FFB600;
}

.shopcontent__name:active{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color:#FFB600;
    transform: translateY(2px);
}

.footer__top__navlink:active, .footer__bottom__link:active, .instagram:active, .facebook:active{
    background-color: #75877D;
    transform: translateY(2px);
}

.form-row{
    display: block;
}

#order_review_heading{
    margin-bottom: 4%;
}

.woocommerce-additional-fields{
    margin-top: 4%;
}

.form-row.woocommerce-invalid .chzn-single,
.form-row.woocommerce-invalid .chzn-drop,
.form-row.woocommerce-invalid input.input-text,
.form-row.woocommerce-invalid select {
    border:1.5px solid red;
}

.form-row.woocommerce-validated .chzn-single,
.form-row.woocommerce-validated .chzn-drop,
.form-row.woocommerce-validated input.input-text,
.form-row.woocommerce-validated select {
    border:1.5px solid green;
}

#place_order{
    background-color: #ffc022;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px 50px;
    margin-top: 5px;
    letter-spacing: 1px;
    border-radius: 4px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    transition: background-color 100ms ease-in, box-shadow 100ms ease-in;
}

#place_order:hover{
    background-color: #ffc022;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    color: white;
}

#place_order:active{
    transform: translateY(2px);
}

/*cart page*/
.woocommerce a.button.alt{
    background-color: #ffc022 !important;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px 50px;
    margin-top: 5px;
    letter-spacing: 1px;
    border-radius: 4px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    transition: background-color 100ms ease-in, box-shadow 100ms ease-in;
}

.woocommerce a.button.alt:hover{
    background-color: #ffc022;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    color: white;
}

.woocommerce a.button.alt:active{
    transform: translateY(2px);
}
